CODEOWNERS @nextech-oss/github-actions
/.github/ @nextech-oss/github-actions
/.buildkite/ @nextech-oss/github-actions

/.github/workflows/rerun_failed.yml @Tuncayscript
/.github/workflows/statuses.yml @Tuncayscript
