# Pattern: /path/to/file pattern @username
# Assign ownership to specific users or teams

/src/* @Tuncayscript
/cli/* @Tuncayscript
/contrib/* @Tuncayscript
/doc/* @Tuncayscript
/etc/* @Tuncayscript
/include/* @Tuncayscript
/runtime/* @Tuncayscript
/test/* @Tuncayscript
/toolchain/* @Tuncayscript
/tools/* @Tuncayscript
